country={{ wifi_country }}
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

network={
    ssid="{{ wifi_ssid }}"
    {% if wifi_psk is defined %}
        psk="{{ wifi_psk }}"
        key_mgmt=WPA-PSK
    {% else %}
        key_mgmt=NONE
    {% endif %}
}
